# Visual Studio internal folders
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/

#Added bin
bin/

# Build artifacts
*.obj
*.exe
*.pdb
*.ilk
*.log

# GLAD/External binaries (usually you don't want to track .dll or .lib if you can avoid it)
*.dll
*.exe

